<h1>Games#score</h1>
<h1>Way to play! Let's see how you did:</h1>
<div>
  <h1>Grid:<%= @grid %></h1>

</div>
<div>
  <h1>Guess:<%= @guess %></h1>

</div>
<div>
  <h1>Time Elapsed:<%= @time %> seconds</h1>
</div>
<div>
  <h1>Score: <%= @game_results[:score] %> points</h1>
</div>
